<%- include("partials/header"); -%>

<h1>Home</h1>

<p>
  <%= content %>
</p>

<% posts.forEach(function(element) { %>
  <h2>
    <%= element.title %>
  </h2>
  <p>
    <% if (element.body.length < 100) { %>
      <%= element.body %>
    <% } else { %>
      <%= element.body.substring(0, 100) + "..." %>
    <% } %>

    <a href="/posts/<%= element._id %>"">Read More</a>
  </p>
<% }); %>


<%- include("partials/footer"); -%>
